<%# Including header partial %>
<%- include("partials/header"); -%>

<div class="row">
  <div class="tradeItemsColumn col-lg-6 col-md-12 col-sm-12">
    <table class=main-table>
      <tr class=table-raw>
        <td class="table-data">img</td>
        <td class="table-data item-name">Item Name</td>
        <td class="table-data cell">Bundle</td>
        <td class="table-data cell">Price</td>
        <td class="table-data cell">Last Update:</td>
        <td class="table-data cell">Set new price:</td>
      </tr>

      <% tradeItemDisplayed.slice().forEach(function(tradeItemDisplayed){ %> <!-- To loop all raws -->
      <tr class="table-raw rarity-<%= tradeItemDisplayed.rarity %>"> <!-- Background color corresponding to rarity -->
        <td class="table-data">
          <div class="img">
            <img class="item-image" src="images/<%= tradeItemDisplayed.name %>.png" alt="ex"> <!-- Assign images according to trade item name -->
          </div>
        </td>
        <td class="table-data item-name"><%= tradeItemDisplayed.name %></td> <!-- Object name -->
        <td class="table-data cell"><%= tradeItemDisplayed.bundle %></td> <!-- Object's bundle quantity (10-100) -->
        <!-- This is the item's current price value. We are able to change it on the way. -->
        <td class="table-data cell"><%= tradeItemDisplayed.price %> <span><img class="gold-image" src="images/gold-image.png" alt="gold-image"></span></td>
        <td class="table-data cell-lastUpdate"><%= date1.from(tradeItemDisplayed.lastUpdate)  %></td>
        <td>
          <!-- Allows me to change the item's price value. -->
          <form id="myForm" action="/<%= selectedType %>/change" method="post">
            <!-- Price input that will be updated -->
            <input class="setPrice" type="text" name="newPrice" autocomplete="off">
            <!-- VERY IMPORTANT! This hidden input allows me to get the ID of corresponding item -->
            <!-- We fetch the id with "req.body.specificItem" -->
            <!-- TradeItemDisplayed is tradeItems that was found via "TradeItem.find({})" -->
            <!-- Means each tradeItemDisplayed is one object in the database -->
            <input type="hidden" name="specificItem" value="<%= tradeItemDisplayed._id %>">
            <!-- Action happens when the submit button is pressed -->
            <button class="btn uniqueSubmitButton" type="submit" name="submitButton">✔</button>
          </form>
        </td>
      </tr>
      <% }); %>
      
    </table>
  </div>

  <div class="customHome-buttons col-lg-6 col-md-12 col-sm-12">
    <div class="dropdown">
      <button onclick="toggleTradeItems()" class="dropbtn">Select trade item type</button>
      <div id="tradeDropdown" class="dropdown-content">
        <a href="/foraging">Foraging</a>
        <a href="/logging">Logging</a>
        <a href="/mining">Mining</a>
        <a href="/hunting">Hunting</a>
        <a href="/fishing">Fishing</a>
        <a href="/excavating">Excavating</a>
      </div>
    </div>

    <div class="dropdown">
      <button onclick="toggleBattleItems()" class="dropbtn">Select battle item type</button>
      <div id="battleDropdown" class="dropdown-content">
        <a href="/recovery">Recovery</a>
        <a href="/offense">Offense</a>
        <a href="/utility">Utility</a>
        <a href="/buff">Buff</a>
        <a href="/cooking">Cooking</a>
        <a href="/special">Special</a>

      </div>
    </div>
  </div>
</div>

<%# Including footer partial %>
<%- include("partials/footer"); -%>
